*{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;
    justify-content:center;
}
.output{
    max-height: max-content;
    border-style:solid;
    border-color:black;
    margin: 15px;
    padding:10%;
    background-color:white;
}
.PW{
    border-radius:17%;
    background-color:grey;
    border-color:black;
}
h2{
    border-radius:17%;
    padding: 9px;
    margin:15px;
    width:max-content;
    font-weight: lighter;
    background-color:white;
}
button{
    padding: 20px;
    background-color:indianred;
    border-radius: 17%;
    font-style:italic bold;
}